header {
    color: #2e2f42;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    font-size: 16px;
    color: #434455;
}

ul,
ol {
    list-style-type: none;
}

address {
    font-style: normal;
}

a {
    color: #434455;
    text-decoration: none;
}

button {
    font-family: inherit;
    color: #434455;
    cursor: pointer;
}

.nav-item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link {
    color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.logo-highlight {
    color: #2e2f42;
    letter-spacing: 0.03em;
}

.address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
}

.hero-header {
    color: #fff;
    background-color: #2e2f42;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-button {
    color: #fff;
    background-color: #4d5ae5;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.features-header {
    font-weight: 500;
    letter-spacing: 0.02em;
}

.features-subheader {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #f4f4fd;
}

.team-header {
    color: #2e2f42;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-item {
    background-color: #ffffff;
}

.team-item-header {
    background-color: #ffffff;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-item-text {
    background-color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-header {
    color: #2e2f42;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11111;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-list {
    background-color: #ffffff;
}

.portfolio-item {
    background-color: #ffffff;
}

.porfolio-item-header {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.footer-logo-highlight {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}